@model UCP1_praktikum.Models.Penduduk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Penduduk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaDusun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaDusun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoKk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoKk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGenderNavigation.IdGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatusNavigation.IdStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdData">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
